@font-face {
  font-family: 'PingFangSC';
  src: url('./../fonts/PingFangSC-Regular.woff2') format('woff2'),
  url('./../fonts/PingFangSC-Regular.woff') format('woff'),
  url('./../fonts/PingFangSC-Regular.otf')  format('otf');

  font-style:   normal;
  font-weight:  400;
}

@font-face {
  font-family: 'PingFangSC';
  src: url('./../fonts/PingFangSC-Semibold.woff2') format('woff2'),
  url('./../fonts/PingFangSC-Semibold.woff') format('woff'),
  url('./../fonts/PingFangSC-Semibold.ttf')  format('ttf');

  font-style:   normal;
  font-weight:  600;
}

@font-face {
  font-family: "PingFangSC";
  src: url("./../fonts/PingFang-Medium.eot"); /* IE9 */
  src: url("./../fonts/PingFang-Medium.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */

  url("./../fonts/PingFang-Medium.woff") format("woff"), /* chrome、firefox */
  url("./../fonts/PingFang-Medium.ttf") format("truetype"), /* chrome、firefox、opera、Safari, Android, iOS 4.2+ */

  url("./../fonts/PingFang-Medium.svg#PingFang Medium") format("svg"); /* iOS 4.1- */
  font-style: normal;
  font-weight: 500;
}


@font-face {
  font-family: 'Cera Pro Bold';
  src: url('./../fonts/CeraPro-Bold.eot');
  src: url('./../fonts/CeraPro-Bold.eot?#iefix') format('embedded-opentype'),
  url('./../fonts/CeraPro-Bold.woff') format('woff'),
  url('./../fonts/CeraPro-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}