.footer {
  text-align: left;
  padding: rem(32px) 0 rem(40px);
  font-weight: 600;

  p {
    opacity: .8;
    margin-bottom: rem(5px);
  }

  a {
    color: inherit;
  }

  img {
    max-width: 100%;
  }

  @media (#{$max_phones--big}) {
    text-align: center;

    .logo {
      margin-bottom: 40px;
    }

    .qr_codes {
      width: 240px;
      max-width: 100%;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 40px;
    }
  }
}

.copy {
  font-size: rem(15px);
  line-height: rem(24px);
  color: #979797;

  @media (#{$max_phones--big}) {
    font-size: 10px;
    line-height: 24px;
  }
}

.logo {
  display: inline-block;
}