.header {
  padding: rem(30px) 0;
  overflow: hidden;
  z-index: 200;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;

  @media (#{$max_phones--big}) {
    padding: rem(20px) 0;

    .main_menu {
      transition: opacity $transition, visibility $transition;
      margin-top: -10px;
    }

    .menu-opened & {
      pointer-events: none;

      .btn_menu,
      .header_logo {
        pointer-events: all;
      }

      .main_menu {
        opacity: 0;
        visibility: hidden;
      }
    }
  }
}

.header_logo {
  font-size: 0;

  @media (#{$max_phones--big}) {
    img {
      width: 100px;
    }
  }
}

.main_menu {
  padding: rem(14px 0);
  margin: 0;
  color: $white;
  font-size: rem(18px);
  line-height: 1;

  &--cart {
    a.nav-link {
      color: $salad;

      .icon {
        font-size: rem(28px);
        margin: rem(-10px) 0;
      }
    }

    .label {
      position: absolute;
      top: rem(-15px);
      right: 0;
    }
  }

  @media (#{$max_phones--big}) {
    font-size: 14px;
    font-weight: normal;
  }
}

.nav {
  list-style: none;
  display: flex;

  .nav-item {
    color: inherit;
    margin-bottom: 0;

    + .nav-item {
      border-left: 1px solid rgba(255, 255, 255, 0.2);
    }
  }

  .nav-link {
    color: inherit;
    padding: 0 rem(10px);
    display: block;
    white-space: nowrap;
  }

  .icon {
    font-size: rem(24px);
    display: inline-block;
    vertical-align: middle;
  }

  span + a {
    margin-left: rem(1px);
  }

  a {
    display: inline-block;
    vertical-align: middle;
  }

  a.nav-link {
    position: relative;

    span {
      position: relative;
      display: inline-block;

      &:after {
        border-bottom: 2px solid $salad;
        content: "";
        display: block;
        margin: rem(6px) 0 0 0;
        -webkit-transition: width .35s ease-in-out 0s;
        transition: width .35s ease-in-out 0s;
        width: 0;
        top: 100%;
        position: absolute;
      }
    }

    .icon {
      position: relative;
      top: -1px;
      color: $salad;
      margin-right: rem(4px);
    }

    &:hover{
      span:after {
        -webkit-transition: width .2s ease-in-out 0s;
        transition: width .2s ease-in-out 0s;
        width: 100%;
      }
    }
  }

  .dotted-divider {
    border-left: 2px rgba(255, 255, 255, 0.1) dotted;
    display: inline-block;
    vertical-align: middle;
    margin: 0 rem(4px);
    height: rem(16px);
    position: relative;
    top: -1px;
  }

  @media (#{$max_phones--big}) {
    .icon {
      font-size: 20px;
    }
  }
}

.header_labels {
  text-align: right;
  padding: rem(9px) 0;

  img {
    height: rem(29px);
    width: auto;
    max-width: 100%;
  }

  @media (#{$max_phones--big}) {
    padding: 0 0 15px 0;

    img {
      height: 20px;
      transition: opacity $transition, visibility $transition;
    }

    .menu-opened & img {
      opacity: 0;
      visibility: hidden;
    }
  }
}

.navbar-toggler {
  font-size: 0;
  border: 0;
  outline: none !important;
  width: 40px;
  height: 40px;
  padding: 5px;
  margin: 2px -5px 2px 20px !important;
  vertical-align: middle;

  &.active {
    .navbar-toggler-icon {
      background-color: transparent;

      &:after  {
        transition-delay: 75ms;
        transform: translate3d(0,-8px,0) rotate(45deg);
      }

      &:before {
        transition-delay: 75ms;
        transform: translate3d(0,8px,0) rotate(-45deg);
      }
    }
  }
}

.navbar-toggler-icon {
  position: relative;

  &,
  &:after,
  &:before {
    width: 31px;
    height: 4px;
    background-color: #dafa09;
    transition: all $transition;
  }

  &:after,
  &:before {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
  }

  &:after {
    margin-top: 6px;
  }
  &:before {
    margin-top: -10px;
  }
}

.sidebar {
  position: fixed;
  z-index: 199;
  right: 0;
  top: 0;
  height: 100%;
  background-color: #000;
  font-weight: 600;
  color: $white;
  line-height: rem(32px);
  opacity: 0;
  visibility: hidden;
  overflow: auto;
  display: none;
  user-select: none;
  width: 100%;
  padding: rem(90px 20px 40px);
  transform: translate3d(0, 0, 0);

  transition-property: all;
  transition-timing-function: ease;
  transition-duration: .3s;

  .row {
    height: 100%;
  }

  .nav-item {
    font-size: 30px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: 2.33;
    letter-spacing: normal;
    margin-bottom: 0;

    a {
      display: block;
    }

    &.active a,
    a:active {
      color: $white;
    }
  }

  .copy {
    left: rem(40px);
    bottom: rem(50px);
    position: absolute;
  }

  .sidebar_nav__item {
    opacity: 0;
    visibility: hidden;
    transition: all .4s;
    transform: translate3d(0, 10px, 0);
  }

  @media (#{$max_phones--big}) {


    .copy {
      bottom: rem(65px);
      left: rem(20px);
    }

    &--show,
    .menu-opened & {
      opacity: 1;
      visibility: visible;
      transform: translate3d(0, 0, 0);

      .sidebar_nav__item {
        opacity: 1;
        visibility: visible;
        transform: translate3d(0, 0, 0);
      }
    }

    .loaded & {
      display: block;
    }
  }
}