@font-face {
  font-family: 'icons';
  src:  url('./../fonts/icons.eot?2rc230');
  src:  url('./../fonts/icons.eot?2rc230#iefix') format('embedded-opentype'),
  url('./../fonts/icons.ttf?2rc230') format('truetype'),
  url('./../fonts/icons.woff?2rc230') format('woff');
  font-weight: normal;
  font-style: normal;
}

[class^="icon--"], [class*=" icon--"] {
  /* use !important to prevent issues with browser extensions that change ./../fonts */
  font-family: 'icons' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon--check:before {
  content: "\e908";
}
.icon--chevron-down:before {
  content: "\e909";
}
.icon--grid:before {
  content: "\e907";
}
.icon--sinaweibo:before {
  content: "\e903";
  color: #e6162d;
}
.icon--wechat:before {
  content: "\e902";
  color: #7bb32e;
}
.icon--like:before {
  content: "\e904";
}
.icon--arrow-right:before {
  content: "\e905";
}
.icon--arrow-left:before {
  content: "\e906";
}
.icon--mail:before {
  content: "\e900";
}
.icon--shopping-cart:before {
  content: "\e901";
}
.icon--gift:before {
  content: "\e90a";
}
.icon--minus:before {
  content: "\e90b";
}
.icon--plus:before {
  content: "\e90c";
}
.emoji {
  display: inline-block;
  vertical-align: middle;
  line-height: inherit;
}