html {
  height: 100%;

  @media all and (min-width: 1111px) and (max-width: 1400px) {
    font-size: 14px;
  }

  @media all and (min-width: 768px) and (max-width: 1110px) {
    font-size: 12px;
  }
}

body {
  font-size: rem(20px);
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.4;
  letter-spacing: normal;
  font-family: $font-family-base;
  background-color: #000;
  color: $white;
  overscroll-behavior: none;

  @include fontantialias(true);

  @media (#{$max_phones--big}) {
    font-size: 14px;
    line-height: 1.71;

    &.menu-opened {
      overflow: hidden;
    }
  }
}

h1, h2, h3, h4, h5,
.h1, .h2, .h3, .h4, .h5 {
  font-family: $font-family-base;
  font-weight: $font-weight-semi;
  color: inherit;
  line-height: normal;
}

h1, .h1 {
  font-size: rem(80px);
  margin-bottom: rem(30px);
  font-weight: 600;
  line-height: 1;

  &:last-child {
    margin-bottom: 0;
  }

  @media (#{$max_phones--big}) {
    font-size: 50px;
  }
}

h2, .h2 {
  font-size: rem(50px);
  margin-bottom: rem(35px);
  font-weight: 600;
  line-height: 1.6;
  letter-spacing: normal;

  @media (#{$max_phones--big}) {
    font-size: 30px;
    line-height: 1.65;
    margin-bottom: 16px;
  }
}

h3, .h3 {
  font-size: rem(30px);
  margin-bottom: rem(20px);
  font-weight: 600;
  line-height: 1.33;

  @media (#{$max_phones--big}) {
    font-size: 20px;
    margin-bottom: 20px;
  }
}

h4, .h4 {
  font-size: rem(20px);
  margin-bottom: rem(12px);
  line-height: rem(36px);

  @media (#{$max_phones--big}) {
  }
}

h5, .h5 {
  font-size: rem(16px);
  margin-bottom: rem(12px);
  font-weight: $font-weight-medium;
  line-height: 1.67;
  letter-spacing: 1px;
  text-transform: uppercase;

  @media (#{$max_phones--big}) {
  }
}

input, a {
  &:focus {
    outline: none;
  }
}

ul {
  list-style: none;
  padding-left: 0;

  li {
    margin-bottom: rem(18px);
  }

  @media (#{$max_phones--big}) {
    li {
      margin-bottom: 12px;
    }
  }
}

a {
  text-decoration: none;
  color: $primary;
  transition: $transition;

  &:hover {
    color: $primary;
    text-decoration: none;
  }
}

hr {
  border: 0;
  border-bottom: 1px solid $cloud;
  margin: rem(15px) 0;
}

p, ul, ol {
  &:last-child {
    margin-bottom: 0 !important;
  }
}

.container {
  max-width: 1460px;
  padding-left: 20px;
  padding-right: 20px;

  @media all and (max-width: 1620px) {
    margin-left: 60px;
    margin-right: 60px;
    width: auto;
  }

  @media all and (max-width: 1280px) {
    margin-left: 40px;
    margin-right: 40px;
  }

  @media (#{$max_tablets}) {
    margin-left: auto;
    margin-right: auto;
  }
}

.row {
  @media (#{$min_phones--big}) {
    margin-left: -20px;
    margin-right: -20px;

    > div {
      padding-left: 20px;
      padding-right: 20px;
    }
  }
}

.btn {
  box-shadow: none !important;
  font-family: $font-family-base;
  padding: rem(16px 25px);
  font-size: rem(24px);
  font-weight: 600;
  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin: 0;
  color: inherit;
  text-decoration: none;
  text-align: center;
  line-height: normal;
  white-space: nowrap;
  border: 0;
  outline: 0;
  cursor: pointer;
  overflow: hidden;
  background-color: transparent;
  appearance: none;
  border-radius: 0;
  max-width: 100%;
  transition: all $transition;

  &:focus {
    outline: none !important;
    box-shadow: none !important;
  }

  &:hover {
    text-decoration: none;
  }

  .icon {
    margin: rem(-5px -4px -3px);
    font-size: rem(24px);
    line-height: rem(18px);
    vertical-align: middle;
    display: inline-block;
    font-weight: normal;
    opacity: .6;

    ~ span {
      margin-left: rem(6px);
    }
  }

  span {
    display: inline-block;
  }

  span ~ .icon {
    margin-left: rem(6px);
  }
}

a.text-primary,
.text-primary {
  color: $primary !important;

  &:hover, &:focus {
    color: $primary !important;
  }
}

.text-grey {
  color: #7D8499 !important;
}

.text-green {
  color: $salad !important;
}

.btn-primary {
  background-color: $salad;
  color: #000 !important;
  transform: skew(-18deg) translate3d(0,0,0);

  &:hover {
    background-color: $primary;
    color: #000 !important;
  }

  &:active {
    background-color: $primary !important;
    color: #000 !important;
  }

  .icon, span {
    transform: skew(18deg) translate3d(0,0,0);
  }

  &[disabled] {
    background-color: #F3F3F3 !important;
    color: #979797 !important;
  }
}

.btn-flat {
  background-color: transparent;
  text-decoration: none !important;
  text-transform: inherit;
  letter-spacing: inherit;
  font-size: rem(20px);
  font-weight: 600;
  overflow: visible;
  color: $primary;
  transform: skew(-18deg) translate3d(0,0,0);

  .icon {
    font-size: rem(36px);
    line-height: normal;
    color: $primary;
    opacity: 1;
    margin: rem(-14px 0px -6px 0);
    position: relative;
    top: -2px;
  }

  .icon, span {
    transform: skew(18deg) translate3d(0,0,0);
  }

  &:hover,
  &:active {
    background-color: $primary;
    color: #000 !important;
  }

  &.text-primary {
    font-size: rem(24px);
  }
}

.btn-link {
  background-color: transparent;
  text-decoration: none !important;
  text-transform: inherit;
  padding: rem(5px);
  letter-spacing: inherit;
  font-size: rem(20px);
  font-weight: 600;
  overflow: visible;

  .icon {
    font-size: rem(36px);
    line-height: normal;
    color: $primary;
    opacity: 1;
    margin: rem(-14px 0px -6px 0);
    position: relative;
    top: -2px;
  }

  &:hover {
    color: $primary !important;
  }

  &.text-primary {
    font-size: rem(24px);
  }
}

.btn-default,
.btn-icon {
  color: $text;
}

.btn-icon {
  font-size: rem(20px);
  padding: rem(15px 14px);
  line-height: 0;
  min-width: 0;
  color: $grey;

  .icon {
    font-size: inherit;
    opacity: 1;
  }

  &:hover,
  &:active {
    color: $metal;
    background-color: transparent;
    box-shadow: none;
  }
}

.btn-secondary {
  background-color: $white;
  color: rgb(83, 86, 92);

  &:hover,
  &:active {
    color: $primary !important;
    background-color: $white !important;
    box-shadow: none !important;
  }

  &[disabled] {
    background-color: rgba($white, 0.8) !important;
    color: rgb(216, 216, 216) !important;
    cursor: default;
  }
}

.btn-small {
  font-size: rem(14px);
  padding: rem(11px 16px 12px);
}

.btn-block {
  display: block;
  width: 100%;
  box-sizing: border-box;
}

.form-control--error {
  @include placeholder {
    color: #EB3B47
  }
}

.form-group {
  @media (#{$max_phones--big}) {
    margin-bottom: 8px;
  }
}

.font-weight-light {
  font-weight: $font-weight-light;
}

.font-weight-medium {
  font-weight: 500;
}

.font-weight-bold {
  font-weight: $font-weight-bold;
}

.hint {
  font-size: rem(17px);
  margin-bottom: rem(20px);

  @media (#{$max_phones--big}) {
    font-size: 12px;
    line-height: 16px;
    margin-bottom: 12px;
  }
}

.small-row {
  margin-left: rem(-8px) !important;
  margin-right: rem(-8px) !important;
}

.small-col {
  padding-left: rem(8px) !important;
  padding-right: rem(8px) !important;
}

.lead {
  font-size: rem(30px);
  font-weight: 600;
  line-height: 1.4;
  list-style: none;
  padding: 0;
  margin-bottom: rem(45px);

  @media (#{$max_phones--big}) {
    font-size: 20px;
  }
}

.input-group {
  position: relative;
}

.form-control {
  width: 100%;
  padding: rem(12px 18px);
  color: $dark;
  height: rem(40px);
  background: $white;
  border: 0;
  box-shadow: 0 2px 4px 0 rgba(83, 86, 92, 0.06);
  font-size: rem(14px);
  line-height: normal;
  font-family: $font-family-base;
  appearance: none;
  transition: $transition;

  &:hover {
    box-shadow: 0 2px 4px 0 rgba(83, 86, 92, 0.06);
  }

  &:active {
    box-shadow: 0 2px 4px 0 rgba(83, 86, 92, 0.06);
  }

  &:focus {
    box-shadow: 0 2px 4px 0 rgba(83, 86, 92, 0.06);
  }

  @include placeholder {
    color: $grey;
  }
}

.input-addon {
  position: absolute;
  left: 0;
  top: 50%;
  z-index: 2;
  padding: 0 rem(4px);
  transform: translate(0, -50%);

  ~ input {
    padding-left: rem(40px);
  }

  &:last-child {
    left: auto;
    right: 0;
  }
}

.table-responsive {
  display: block;
  width: 100%;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}


.card {
  color: $dark;
  background-color: $white;
  border-radius: 12px;
  padding: rem(23px 40px);
  margin-bottom: rem(20px);
  overflow: hidden;

  &:last-child {
    margin-bottom: 0;
  }
}

.tabs {
  -webkit-tap-highlight-color: transparent;
  user-select: none;
}

.nav-tabs {
  padding: 0;
  margin: 0;
  list-style: none;
}

.table {
  width: 100%;
  border-collapse: collapse;
  font-size: rem(16px);
  line-height: 1.33;

  th {
    background: transparent;
    color: $grey;
    font-weight: $font-weight-medium;
    font-size: rem(14px);
    text-align: left;
    line-height: 1.6;
    vertical-align: bottom;
    padding: rem(16px 0 26px);
  }

  th,
  td {
    position: relative;
  }

  td {
    vertical-align: middle;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    border-top: solid 1px $cloud;
    padding: rem(15px 30px 15px) 0;
  }

  .user-pic {
    margin-top: rem(-10px);
    margin-bottom: rem(-10px);
  }

  .user-flip {
    margin-top: rem(-14px);
    margin-bottom: rem(-14px);
  }

  &--fixed {
    table-layout: fixed;
  }
}

.button-group {
  white-space: nowrap;
  font-size: 0;

  .btn + .btn {
    margin-left: rem(8px);
  }
}

.control-label {
  display: block;
  margin-bottom: rem(5px);
  color: $grey;
  font-weight: $font-weight-medium;
  font-size: rem(14px);
  line-height: 1.6;
}

.tooltip-control {
  cursor: help;
  display: inline-block;
  border-bottom: 1px dotted $grey;
}

.pager {
  .icon {
    font-weight: $font-weight-semi;
  }

  .control-label {
    margin-bottom: 0;
  }
}

.tab-content {
  > .tab-pane {
    display: none;
  }
  > .active {
    display: block;
  }
}

.tooltip {
  font-size: rem(12px);
}

.cera {
  font-family: "Cera Pro Bold", sans-serif;
}

.btn-bordered {
  box-shadow: inset 0 0 0 2px $salad !important;
  color: $salad !important;
  transform: skew(-18deg) translate3d(0,0,0);
  cursor: default;

  &:hover,
  &:active {
    background-color: transparent !important;
    color: $primary !important;
    box-shadow: inset 0 0 0 2px $primary !important;
  }

  > .icon, > span {
    transform: skew(18deg) translate3d(0,0,0);
  }

  &[disabled] {
    color: #979797 !important;
    box-shadow: inset 0 0 0 2px #F3F3F3 !important;
  }
}

.product_nav.nav.nav-tabs {
  display: flex;
  overflow: hidden;
  line-height: normal;
  margin-bottom: rem(60px);

  .nav-item {
    object-fit: contain;
    flex-basis: 0;
    -webkit-box-flex: 1;
    flex-grow: 1;
    max-width: 100%;
    border: solid 2px $salad;
    margin: 0 -1px;
  }

  .nav-link {
    font-size: rem(30px);
    font-weight: 600;
    text-align: center;
    padding: rem(13px 10px);
    background-color: $salad;
    color: #000;

    &.active {
      background-color: transparent;
      color: $salad;
    }
  }

  @media (#{$max_phones--big}) {
    margin-bottom: 20px;
    margin-left: -20px;
    margin-right: -20px;

    .nav-link {
      padding: 8px 10px;
      font-size: 20px;
    }
  }
}

.cart_nav.nav.nav-tabs {
  padding: rem(10px) 0;

  .nav-item {
    position: relative;
    padding: rem(0 15px);
    margin: rem(0 7px);
    border: 0;

    &:after,
    &:before {
      content: '';
      opacity: 0.5;
      background-color: $white;
      border-radius: 100px;
      position: absolute;
      width: rem(5px);
      height: rem(5px);
      top: 50%;
      margin-top: rem(-2px);
    }

    &:before {
      left: 0;
    }

    &:after {
      right: 0;
    }

    &:first-child {
      padding-left: 0;

      &:before {
        display: none;
      }
    }

    &:last-child {
      padding-right: 0;

      &:after {
        display: none;
      }
    }
  }

  .nav-link {
    font-size: rem(25px);
    font-weight: 600;
    color: $white;
    background-color: transparent;
    border: 1px solid $white;
    border-radius: 100px;
    width: rem(50px);
    height: rem(50px);
    line-height: rem(48px);
    text-align: center;
    transition: all $transition;

    &.active {
      transform: scale(1.8);
    }

    &.disabled {
      pointer-events: none;
    }

    &.active,
    &:hover {
      background-color: $white;
      color: #000;
    }
  }

  @media (#{$max_tablets}) {
    justify-content: center;
  }
}

.modal {
  color: #000;

  .btn-primary,
  .btn-bordered {
    width: rem(340px);
    max-width: 100%;
  }

  .close {
    position: absolute;
    right: rem(30px);
    top: rem(20px);
    color: #000;
    font-size: rem(40px);
    opacity: 1;
    outline: none !important;
  }
}

.modal-header {
  border-bottom: 0;
  display: block;
  padding: rem(48px 50px);
}

.modal-body {
  padding-left: rem(50px);
  padding-right: rem(50px);
  padding-bottom: rem(48px);
}

.modal-footer {
  border-top: 0;
  padding-left: rem(50px);
  padding-right: rem(50px);
  padding-bottom: rem(48px);
}

.modal-dialog {
  max-width: rem(740px);
}

.modal-title {
  text-align: left;
}

.modal-content {
  border-radius: 0;
  border: 0;
  box-shadow: none;
}

.form-group {
  margin-bottom: rem(20px);
}

.form-control {
  background-color: transparent;
  border-radius: 0;
  box-shadow: inset 0 0 0 2px #dafa09 !important;
  color: #dafa09 !important;
  transform: skew(-18deg) translate3d(0, 0, 0);
  font-size: 24px;
  font-weight: 600;
  padding: 0;
  height: auto;

  input {
    background-color: transparent;
    border: 0;
    font-family: $font-family-base;
    transform: skew(18deg) translate3d(0, 0, 0);
    color: $white;
    width: 100%;
    font-weight: 600;
    padding: rem(18px 40px);
  }

  @media (#{$max_phones--big}) {
    input {
      padding-top: 13px;
      padding-bottom: 13px;
    }
  }
}

.custom-control {
  padding-left: rem(80px);
  padding-top: rem(15px);
  padding-bottom: rem(15px);
  cursor: pointer;
}

.custom-control-label {
  font-size: rem(24px);
  font-weight: 600;
  cursor: pointer;

  &::before {
    border: solid 2px #dafa09 !important;
    background-color: transparent !important;
    width: rem(60px);
    height: rem(60px);
    right: 100%;
    left: auto;
    top: 50%;
    margin-right: rem(20px);
    transform: translate(0, -50%);
  }

  &::after {
    background: #dafa09;
    width: rem(20px);
    height: rem(20px);
    border-radius: 100px;
    opacity: 0;
    right: 100%;
    top: 50%;
    left: auto;
    margin-right: rem(40px);
    transform: translate(0, -50%);
  }
}

.custom-control-input:checked ~ .custom-control-label {
  &::before {
    background-color: transparent;
    border-color: #dafa09;
  }

  &::after {
    opacity: 1;
    background: #dafa09 !important;
  }
}