.main {
  min-height: 80vh;
}

.section {
  width: 100%;
  position: relative;
  padding: rem(80px 0);
  border-bottom: 2px solid #e5ff38;
  overflow: hidden;

  @media (#{$max_phones--big}) {
    padding: rem(30px 0);
  }
}

.section_reviews,
.section_info,
.section_banner {
  @media (#{$min_tablets--landscape}) {
    height: 700px;

    .container {
      height: 100%;

      > .row {
        height: 100%;
        align-items: center;
      }
    }
  }
}

.section_bg,
.section_bg_group {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.section_bg {
  @media (#{$max_phones--big}) {
    opacity: .7;
  }
}

.section_bg_group {
  .slick-list, .slick-track {
    width: 100%;
    height: 100%;
  }
}

.section_blank {
  padding: rem(100px) 0 0;
  border-bottom: 0;

  @media (#{$max_phones--big}) {
    padding-top: 110px;
  }
}

.section_main {
  padding: rem(185px) 0 rem(125px);

  .btn {
    width: 340px;
  }

  .main_catalog & {
    padding: rem(140px 0 60px);

    h2 {
      font-size: rem(40px);
    }

    .lead {
      font-size: rem(22px);
    }

    .btn-primary {
      width: 200px;
      padding: rem(10px 20px);
    }
  }

  @media (#{$max_phones--big}) {
    padding-top: 140px;
    padding-bottom: 65px;

    .main_catalog & {
      padding-bottom: 30px;
      padding-top: 120px;

      h2 {
        font-size: rem(24px);
        line-height: 1.4;
      }

      .lead {
        margin-bottom: rem(20px);
        font-size: rem(16px);

        li {
          margin-bottom: 5px;
        }
      }

      .btn-primary {
        font-size: rem(16px);
      }
    }
  }
}

.section_reviews {
  @media (#{$min_tablets--landscape}) {
    height: 100vh;
    min-height: 880px;
  }
}

.slider_item {
  &__text {
    font-size: rem(24px);
    font-weight: 600;
    line-height: 2.08;
    opacity: 0.7;
  }
}

.slider {
  &--reviews {
    .slider_item > .row {
      margin: 0;
    }

    .slick-prev,
    .slick-next {
      &:before {
        color: rgba($white, .5);
      }

      &:hover:before {
        color: rgba($white, 1);
      }
    }
  }

  &--items {
    .slider_item {
      padding: 0 17px;
    }
  }

  @media (#{$max_laptop--small}) {
    &--reviews {
      padding-bottom: 60px;

      .slider_item__text {
        font-size: 14px;
        font-weight: normal;
        line-height: 1.71;
      }

      .slick-prev, .slick-next {
        top: auto;
        bottom: 0;
        transform: none;
      }
    }
  }

  @media (#{$max_phones}) {
    &--items {
      .slider_item {
        padding-left: 0;
        padding-right: 0;
      }
    }
  }
}

.section_header {
  margin-bottom: rem(40px);

  h3, h2, h1 {
    margin-bottom: rem(6px);
  }
}

.badge {
  object-fit: contain;
  color: $white;
  font-size: rem(10px);
  font-weight: 600;
  letter-spacing: rem(3.57px);
  text-transform: uppercase;
  padding: rem(7px 12px 9px);
  text-align: center;
  background-color: $salad;
  white-space: nowrap;

  &--violet {
    background-color: #9330df;
  }

  &--blue {
    background-color: #306cdf;
  }
}

.item_price {
  position: relative;

  &__value {
    font-size: rem(40px);
    line-height: normal;
    font-weight: 500;
    color: $salad;
  }

  &__hint {
    font-size: rem(20px);
    font-weight: 500;
    color: #8d8d8d;
  }

  .badge {
    max-width: rem(130px);
    position: absolute;
    right: rem(-31px);
    top: rem(12px);
  }
}

.item {
  margin-bottom: rem(20px);
  padding: rem(30px 30px 0 30px);
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
  position: relative;

  a {
    color: inherit;
  }

  &__image {
    margin-bottom: rem(40px);
    padding: rem(18px 0);
    height: rem(265px);
    text-align: center;
    transition: transform $transition;

    img {
      max-width: 100%;
      max-height: 100%;
      margin-left: auto;
      margin-right: auto;
    }
  }

  &__header {
    margin-bottom: rem(20px);
  }

  &__title {
    font-size: rem(30px);
    font-weight: 500;
    white-space: nowrap;
  }

  &__subtitle {
    font-size: rem(20px);
    color: #8d8d8d;
  }

  &__price {
    margin-bottom: rem(15px);
  }

  &__action {
    text-align: center;

    .btn {
      width: 100%;
    }
  }

  &__rating {
    font-size: rem(20px);
    font-weight: 600;
    white-space: nowrap;
    margin-bottom: rem(25px);

    .emoji {
      font-size: rem(45px);
      margin-right: rem(3px);
    }

    .btn-flat, .btn-link {
      margin-right: rem(-10px);
      margin-top: rem(-1px);
      font-size: inherit;
    }
  }

  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: -1;
    opacity: 0;
    background-color: rgba(92,255,171,1);
    background: linear-gradient(to bottom, rgba(92,255,171,.2) 0%, rgba(92,255,171,0) 100%);
    transition: opacity $transition;
  }

  &:not(.item--large):not(.item--row) {
    &:hover {
      .item__image {
        transform: scale(1.05);
      }

      &:before {
        opacity: 1;
      }
    }
  }

  &--bordered {
    padding-bottom: rem(54px);
    border: 1px solid rgba($primary, .5);
    transition: border-color $transition;

    &:hover {
      border-color: $primary;
    }
  }

  &--small {
    padding-top: rem(20px);
    padding-bottom: rem(20px);

    .item_price {
      &__value {
        font-size: rem(30px);
      }

      &__hint {
        font-size: rem(12px);
      }
    }

    .item {
      &__image {
        height: 125px;
        margin-bottom: 0;
        padding-top: 0;
        padding-bottom: rem(10px);
      }

      &__header,
      &__rating,
      &__price {
        margin-bottom: rem(4px);
      }

      &__title {
        font-size: rem(20px);
      }

      &__subtitle {
        font-size: rem(12px);
      }

      &__action {
        .btn {
          font-size: rem(16px);
          padding: rem(6px);
          width: 200px;
        }
      }

      &__rating {
        font-size: rem(12px);

        .emoji {
          font-size: rem(30px);
        }

        .btn-flat, .btn-link {
          .icon {
            font-size: rem(28px);
          }
        }
      }
    }
  }

  &--large {
    margin-bottom: 0;

    .item__action {
      .btn-bordered,
      .btn-primary {
        margin-bottom: rem(20px);
      }
    }
  }

  &--row {
    width: 100% !important;
    max-width: 100% !important;
    margin-bottom: 0;
    padding: rem(25px 0) !important;
    border-bottom: 1px solid #9fffce;

    .item__image {
      text-align: left;
    }

    .item_price {
      padding-bottom: 0 !important;
      margin-bottom: 0 !important;
    }

    .btn_counter {
      width: 240px;
      max-width: 100%;
    }
  }

  @media (#{$min_phones}) {
    &.item--large {
      width: 100%;
      max-width: 100%;

      .item {
        &__image {
          height: auto;

          img {
            width: rem(380px);
            max-width: 100%;
            height: auto;
          }
        }

        &__title {
          font-size: rem(50px);
        }

        &__subtitle {
          font-size: rem(30px);
          line-height: rem(50px);
        }

        &__content {
          padding-left: rem(65px);
        }

        &__header {
          margin-bottom: rem(44px);
        }

        &__rating {
          margin-bottom: rem(60px);
        }

        &__price {
          margin-bottom: rem(38px);

          .item_price__value,
          .item_price__hint {
            display: inline-block;
          }

          .item_price__hint {
            font-size: rem(30px);
          }

          .item_price__value {
            font-size: rem(60px);
          }
        }
      }
    }

    &.item--row {
      .item__header,
      .item__price,
      .item__image {
        margin-bottom: 0;
      }

      .item__image {
        height: auto;
      }
    }
  }

  @media (#{$max_tablets}) {
    max-width: 340px;
  }

  @media (#{$max_phones--big}) {
    padding: 30px 50px;

    &__image {
      margin-bottom: 38px;
    }

    &__title {
      line-height: 1.4;
    }

    &__header {
      margin-bottom: 14px;
    }

    &__price {
      margin-bottom: 3px;
    }

    &__rating {
      font-size: 15px;

      .emoji,
      .btn-flat .icon,
      .btn-link .icon {
        font-size: 30px;
      }

      .col-auto {
        width: 50%;
      }
    }

    .badge {
      right: -51px;
      width: auto;
      line-height: normal;
    }

    &--mobile-small {
      padding-top: rem(20px);
      padding-bottom: rem(20px);

      .item_price {
        &__value {
          font-size: rem(30px);
        }

        &__hint {
          font-size: rem(12px);
        }
      }

      .item {
        &__image {
          height: 125px;
          margin-bottom: 0;
          padding-top: 0;
          padding-bottom: rem(10px);
        }

        &__header,
        &__rating,
        &__price {
          margin-bottom: rem(4px);
        }

        &__title {
          font-size: rem(20px);
        }

        &__subtitle {
          font-size: rem(12px);
        }

        &__action {
          .btn {
            font-size: rem(16px);
            padding: rem(6px);
            width: 200px;
          }
        }

        &__rating {
          font-size: rem(12px);

          .emoji {
            font-size: rem(30px);
          }

          .btn-flat,
          .btn-link {
            .icon {
              font-size: rem(28px);
            }
          }
        }
      }
    }

    &--small,
    &--mobile-small {
      padding: 25px;

      .item__image {
        height: 120px;
      }

      .item__price {
        padding-bottom: 40px;
      }

      .item__rating {
        margin-left: -10px;
        margin-right: -10px;
      }

      .badge {
        top: auto;
        bottom: 5px;
        right: -26px;
      }
    }

    &--row {
      position: relative;
      padding-top: 40px !important;
      padding-bottom: 40px !important;

      .col-sm-2.col-md-1 {
        position: static;
      }

      .btn_counter {
        margin-bottom: 20px;
      }

      .item__action {
        position: absolute;
        top: auto;
        bottom: 30px;
        right: 20px;
        transform: translate(0, -50%);

        .icon {
          font-size: 20px !important;
        }
      }
    }
  }

  @media (#{$max_phones}) {
    &--small {
      .item__rating {
        font-size: 12px;

        .emoji {
          font-size: 20px;
        }

        .btn-flat .icon,
        .btn-link .icon {
          font-size: 20px;
        }
      }
    }
  }
}

.section_items {
  padding-bottom: rem(20px);

  .row {
    margin-left: -10px;
    margin-right: -10px;

    > div {
      padding-left: 10px;
      padding-right: 10px;
    }
  }

  &--row {
    border-bottom: 0 !important;
  }

  &--catalog {
    padding-bottom: rem(60px);

    .row {
      margin-left: -15px;
      margin-right: -15px;

      > div {
        padding-left: 15px;
        padding-right: 15px;
      }
    }

    .item {
      margin-bottom: rem(30px);
    }
  }

  @media (#{$max_phones--big}) {
    .row {
      margin-left: -7px;
      margin-right: -7px;

      > div {
        padding-left: 7px;
        padding-right: 7px;
      }
    }

    .item {
      margin-bottom: 14px;
    }

    &--catalog {
      padding-bottom: rem(60px);
    }
  }

  @media (#{$min_tablets--landscape}) {
    height: auto;
  }
}

.section_footer {
  padding: rem(20px 0);

  .main_menu {
    justify-content: center;
    margin-top: rem(30px);
  }

  .btn-primary {
    width: 300px;
    max-width: 100%;
  }

  @media (#{$max_phones--big}) {
    padding-top: 30px;
  }
}

.section_info {
  @media (#{$max_phones--big}) {
    padding: 100px 0;
  }
}

.section_features,
.section_stats,
.section_inside {
  @media (#{$min_tablets--landscape}) {
    height: auto;
  }
}

.section_features {
  padding: rem(100px) 0;

  @media (#{$max_phones--big}) {
    padding-top: 4.0625rem;
    padding-bottom: 4.0625rem;
  }
}

.features_block {
  &__image {
    float: left;
    padding-right: rem(40px);
    margin-bottom: rem(40px);
  }
  
  &__content {
    overflow: hidden;
    margin-bottom: rem(40px);
  }

  &__title {
    margin-bottom: rem(25px);
  }

  &__list {
    opacity: .8;

    li {
      margin-bottom: rem(30px);
    }
  }
}

.section_stats {
  font-size: 20px;

  h3 {
    font-size: rem(30px);
  }
}

.stat_container {
  height: rem(558px);

  .row {
    height: 100%;
  }
}

.stat {
  width: 100px;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  padding-top: rem(120px);
  margin-bottom: rem(20px);

  &__bar {
    position: relative;
  }

  &__title {
    font-weight: 600;
    text-align: center;
    margin-top: rem(20px);
  }

  &--0 {
    .stat_bar__image {
      margin-left: rem(-20px);
    }

    .stat_bar {
      transition-delay: 0.35s;
    }
  }

  &--1 .stat_bar {
    transition-delay: 0.3s;
  }

  &--2 .stat_bar {
    transition-delay: 0.25s;
  }

  &--3 .stat_bar {
    transition-delay: 0.2s;
  }

  .stat_bar {
    height: 4px;
    transition-property: height;
    transition-duration: 0.7s;
  }

  .inView & {
    &--0 {
      .stat_bar {
        height: rem(48px);
      }
    }
    &--1,
    &--2 {
      .stat_bar {
        height: rem(320px);
      }
    }

    &--3 {
      .stat_bar {
        height: rem(370px);
      }
    }
  }

  @media (#{$max_phones--big}) {
    padding-top: 60px;
    margin-bottom: 40px;

    &__title {
      margin-top: 6px;
      font-size: 14px;
    }

    &--1,
    &--2 {
      .stat_bar {
        height: rem(205px);
      }
    }

    &--3 {
      .stat_bar {
        height: rem(237px);
      }
    }
  }
}

.stat_bar {
  text-align: center;
  padding: rem(0 10px);
  background-color: rgba($white, .18);
  display: flex;
  align-items: flex-end;
  justify-content: center;

  &__value {
    position: absolute;
    bottom: rem(10px);
    left: 0;
    right: 0;
    text-align: center;
  }

  &__image {
    position: absolute;
    bottom: 100%;
    left: 0;
    right: 0;
    margin: 0 auto rem(20px);
    text-align: center;

    img {
      max-width: 100%;
    }
  }

  &--green {
    background-color: $primary;
    color: #000;
  }

  @media (#{$max_phones--big}) {
    &__image {
      margin-bottom: 8px;
      padding-left: 15px;
      padding-right: 15px;

      .stat--0 & {
        padding-left: 5px;
        padding-right: 5px;
      }
    }

    &__value {
      line-height: normal;
      font-size: 14px;
    }
  }
}

.label_accent {
  padding: rem(12px 38px);
  margin: rem(12px -38px 25px);
  font-size: rem(50px);
  background-color: $primary;
  color: #000;
  width: rem(430px);
  max-width: 100%;

  @media (#{$max_phones--big}) {
    width: auto;
    max-width: none;
    margin-left: -20px;
    margin-right: -20px;
    padding: 8px 20px;
    line-height: normal;
  }
}

.section_stats {
  border-bottom: 1px solid rgba($white, .18);

  ul li {
    margin-bottom: rem(25px);
  }
}

.section_inside {
  padding-bottom: rem(65px);

  &__slider {
    display: flex;
    justify-content: space-between;
  }

  &__item {
    margin-bottom: rem(40px);
  }

  &__item,
  &__slide {
    width: 242px;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
  }

  ul {
    font-size: 20px;
    line-height: 2.5;

    li {
      margin-bottom: 0;
    }
  }

  .img_formula {
    position: absolute;
    top: rem(-25px);
    right: rem(25px);
    z-index: 2;
  }

  &__image {
    position: relative;
    height: rem(150px);
    margin-top: rem(40px);
    margin-bottom: rem(20px);
    z-index: -1;
  }

  h4 {
    font-size: rem(24px);
    margin-bottom: rem(10px);
  }

  .section_header {
    margin-bottom: rem(50px);
  }

  @media (#{$max_phones--big}) {
    &__item,
    &__slide {
      width: 290px;
    }
  }
}

.label {
  display: inline-block;
  vertical-align: middle;
  font-size: rem(18px);
  line-height: rem(18px);
  font-weight: bold;
  padding: rem(4px 3px 3px);
  border-radius: 20px;
  text-align: center;
  font-style: normal;
  min-width: rem(25px);

  &--green {
    background-color: $salad;
    color: #000;
  }
}

.parallax-mirror {
  @media (#{$max_phones--big}) {
    display: none !important;
  }
}

.form_sort {
  .control-label {
    display: inline-block;
    vertical-align: middle;
    font-size: rem(24px);
    font-weight: 600;
    color: $white;
    margin-bottom: 0;
  }

  @media (#{$max_phones--big}) {
    .control-label {
      font-size: 20px;
    }
  }
}

.vitamin_icon {
  width: rem(100px);
  height: rem(100px);
  line-height: rem(100px);
  margin-left: auto;
  margin-right: auto;
  font-size: 40px;
  font-weight: 600;
  text-align: center;
  position: relative;
  border: solid 5px;
  border-radius: 300px;
  box-sizing: content-box;
  margin-bottom: rem(30px);
  margin-top: rem(60px);

  &:after,
  &:before {
    content: '';
    position: absolute;
    border: solid 5px;
    border-radius: 300px;
  }

  &:before {
    width: rem(27px);
    height: rem(27px);
    bottom: 100%;
    right: rem(-10px);
  }

  &:after {
    width: rem(17px);
    height: rem(17px);
    right: rem(-30px);
    top: rem(5px);
  }

  &--orange {
    color: #ffaa06;
  }

  &--yellow {
    color: #fff700;
  }

  &--blue {
    color: #119aff;
  }

  &--green {
    color: #5cffac;
  }
}

.section_item {
  padding: rem(160px 0 0px);
  border-bottom: 0;
}

.btn_counter {
  .btn {
    width: auto;
    min-width: auto;
    font-size: rem(30px);
    color: $white;

    &:hover {
      color: $primary;
    }
  }

  > span {
    margin-top: rem(-4px);
    margin-bottom: rem(-6px);
    position: relative;
    top: rem(-5px);
  }

  &__value {
    font-size: rem(30px);
    display: inline-block;
    vertical-align: middle;
    margin: rem(0 10px);
    color: $white;
  }

  @media (#{$max_tablets}) {
    padding: 10px;

    .btn {
      font-size: 20px;
    }

    &__value {
      font-size: 20px;
    }
  }
}

.section_product_info {
  @extend .section_inside;

  @media (#{$min_phones--big}) {
    padding-top: rem(70px);

    .section_header {
      margin-bottom: rem(110px);
    }
  }
}


.taobao_btn {
  position: fixed;
  z-index: 100;
  bottom: rem(40px);
  right: rem(40px);
  width: rem(90px);
  height: rem(90px);
  padding: 0;
  border: 0;
  overflow: visible;

  &__image {
    position: relative;
    background-color: #fd8601;
    border-radius: 50%;
    width: 100%;
    height: 100%;
    transition: background-color $transition;
    mix-blend-mode: luminosity;
    padding: rem(18px 12px);

    img {
      max-width: 100%;
      margin: auto;
      width: rem(70px);
    }
  }

  &__circle {
    border-radius: 50%;
    background-color: transparent;
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: 0;
    left: 50%;
    top: 50%;
    margin: rem(-50% 0 0 -50%);
    border: 1px solid #ffef00;
    z-index: -2;
    animation: scaleIn 4s infinite cubic-bezier(.36, .11, .89, .32);
  }

  &:hover {
    .taobao_btn__image {
      background-color: #5cffac;
    }

    .taobao_btn__circle {
      border-color: #5cffac;
    }
  }

  @media (#{$max_phones--big}) {
    width: 60px;
    height: 60px;
    right: 20px;
    bottom: 20px;

    &__image {
      padding-top: 10px;
    }
  }
}


@keyframes scaleIn {
  from {
    transform: scale(.1, .1);
    opacity: 0.6;
  }
  50% {
    transform: scale(1, 1);
    opacity: 0.4;
  }
  to {
    transform: scale(1.6, 1.6);
    opacity: 0;
  }
}

.scrolltop_btn {
  position: fixed;
  z-index: 100;
  top: rem(40px);
  right: rem(40px);
  padding: rem(10px 20px);
  background-color: $salad;
  color: #000;
  text-align: center;
  display: none;
  transition: background-color $transition;

  .icon {
    display: inline-block;
    transform: rotate(90deg);
  }

  &:hover {
    color: #000;
    background-color: $primary;
  }

  @media (#{$max_phones--big}) {
    right: 20px;
    top: 20px;
    padding: 6px 10px;
    width: 35px;
    height: 35px;
  }
}

.section_cart {
  @extend .section_main;

  .section_heading {
    margin-bottom: rem(30px);
  }

  .item__action {
    .btn_delete {
      @extend .navbar-toggler;
      margin: 0 !important;
      width: auto;
    }

    .icon {
      font-size: rem(50px);
    }
  }

  .section_footer {
    padding: rem(50px 0 0);
  }

  @media (#{$max_phones--big}) {
    h2 {
      font-size: 50px;
      font-weight: 500;
      margin-bottom: 30px;
    }

    .btn-primary {
      padding-top: 13px;
      padding-bottom: 13px;
    }

    .section_footer {
      padding-top: 40px;
      padding-bottom: 0;
    }
  }
}

.cart {
  &__total {
    font-size: rem(70px);
    font-weight: 600;
    color: $white;
    margin-bottom: rem(30px);
    margin-top: rem(60px);
  }

  .hint {
    font-size: rem(20px);
    font-weight: 600;
    color: #8d8d8d;
  }

  &__promo {
    background-color: #9fffce;
    color: #000;
    font-size: rem(30px);
    font-weight: 600;
    padding: rem(22px 33px);
    margin-top: -2px;
  }

  &--0 {
    height: 50vh;
    min-height: 300px;

    .row,
    .container {
      height: 100%;
    }

    .icon--shopping-cart {
      display: block;
      font-size: rem(100px);
      margin-bottom: rem(40px);
      color: $salad;
    }

    .section_header {
      margin-bottom: rem(40px);
      text-align: center;
    }
  }

  &--2 {
    .cart__total {
      font-size: rem(50px);
    }
  }

  @media (#{$max_phones--big}) {
    &__total {
      margin-top: 40px;
      font-size: 30px;
    }

    &__promo {
      padding: 8px 20px;
      margin-left: -20px;
      margin-right: -20px;
      font-size: 30px;
      font-weight: 600;
      line-height: normal;
      margin-bottom: 50px;
    }

    &__total {
      font-size: 40px;
    }
  }
}

.form_cart {
  .form-group {
    margin-bottom: rem(40px);
  }

  h3 {
    margin-top: rem(30px);
    margin-bottom: rem(30px);
  }

  @media (#{$max_phones--big}) {
    margin-top: 30px;

    h3 {
      font-size: 30px;
    }
  }
}