<section class="section section_banner d-none d-md-block">
  <div class="section_bg d-block d-lg-none" style="background-image: url(images/bg_5.jpg)"></div>
  <div class="section_bg d-none d-lg-block" data-src="images/bg_5.jpg"data-pos-x="center" data-parallax></div>

  <div class="container">
    <div class="row align-items-center">
      <div class="col-sm-9">
        <div class="section_header">
          <h2>成分安全可靠, 完全无副作用*</h2>
          <h3 class="text-white-50">*根据专家研究结果显示</h3>
        </div>

        <br><br>
        <ul class="lead text-green">
          <li>没有肌肉张力过强</li>
          <li>不激发手抖</li>
          <li>不引起低血糖症</li>
        </ul>
      </div>
    </div>
  </div>
</section>