<section class="section section_cart">
  <div class="cart cart--0">
    <div class="container">
      <div class="row justify-content-center align-items-center">
        <div class="col-sm-6">
         <div class="section_header">
           <h2>你的篮子是空的</h2>
           <h3>是时候添加一些东西了</h3>
         </div>

          <div class="text-center">
            <i class="icon icon--shopping-cart"></i>
            <a href="/" class="btn btn-primary">
              <span>去选择</span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
