<section class="section section_cart">
  <div class="section_heading">
    <div class="container">
      <div class="row justify-content-between">
        <div class="col-sm-6 col-md-auto">
          <h2>制定的顺序的</h2>
        </div>
        <div class="col-sm-6 col-md-auto">
          <ul class="nav nav-tabs cart_nav">
            <li class="nav-item">
              <a class="nav-link" href="cart.html">1</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="cart_2.html">2</a>
            </li>
            <li class="nav-item">
              <a class="nav-link disabled">3</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="cart cart--2">
    <div class="container">
      <div class="row justify-content-between">
        <div class="col-md-4">
          <form action="" class="form_cart">
            <div class="form-group">
              <div class="form-control">
                <input type="text" placeholder="联系电话">
              </div>
            </div>
            <div class="form-group">
              <div class="form-control">
                <input type="text" placeholder="沉降">
              </div>
            </div>

            <h3>付款方式</h3>
            <div class="row">
              <div class="col-sm-auto">
                <div class="custom-control custom-radio">
                  <input type="radio" id="customRadio1" name="customRadio" class="custom-control-input" checked>
                  <label class="custom-control-label" for="customRadio1">现金到快递</label>
                </div>
              </div>
              <div class="col-sm-auto">
                <div class="custom-control custom-radio">
                  <input type="radio" id="customRadio2" name="customRadio" class="custom-control-input">
                  <label class="custom-control-label" for="customRadio2">ONLINE</label>
                </div>
              </div>
            </div>

            <h3>交货方式</h3>
          </form>
        </div>
        <div class="col-md-7">
          <div class="cart__row">
            <div class="item item--mobile-small item--row">
              <div class="row align-items-center justify-content-between">
                <div class="col-6 col-md-3">
                  <div class="item__image">
                    <img src="images/item_4.png" alt="item">
                  </div>
                </div>
                <div class="col-6 col-md-3">
                  <div class="item__header">
                    <div class="item__title">百香果口味</div>
                    <div class="item__subtitle">清新自然</div>
                  </div>
                </div>
                <div class="col-6 col-md-2 text-md-right">
                  <div class="item__title">1 x</div>
                </div>
                <div class="col-6 col-md-3">
                  <div class="item__price item_price">
                    <div class="item_price__value">400元</div>
                    <div class="item_price__hint">每份总计46.67元</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="item item--mobile-small item--row">
              <div class="row align-items-center justify-content-between">
                <div class="col-6 col-md-3">
                  <div class="item__image">
                    <img src="images/item_2.png" alt="item">
                  </div>
                </div>
                <div class="col-6 col-md-3">
                  <div class="item__header">
                    <div class="item__title">2份能量</div>
                  </div>
                </div>
                <div class="col-6 col-md-2 text-md-right">
                  <div class="item__title">2 x</div>
                </div>
                <div class="col-6 col-md-3">
                  <div class="item__price item_price">
                    <div class="item_price__value text-md-right">免費</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="cart__promo">
        <div class="row justify-content-between align-items-center">
          <div class="col-6">促銷代碼</div>
          <div class="col-6 text-right">- 30%</div>
        </div>
      </div>

      <div class="cart__total">
        <div class="row justify-content-between align-items-center">
          <div class="col-6">總計：</div>
          <div class="col-6 text-md-right">
            1 400元
            <div class="hint">每份总计46.67元</div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="section_footer text-center">
    <button class="btn btn-primary" type="button">
      <span>确认订单</span>
    </button>
  </div>
</section>
