<section class="section section_cart">
  <div class="section_heading">
    <div class="container">
      <div class="row justify-content-between">
        <div class="col-sm-6 col-md-auto">
          <h2>購物籃</h2>
        </div>
        <div class="col-sm-6 col-md-auto">
          <ul class="nav nav-tabs cart_nav">
            <li class="nav-item">
              <a class="nav-link active">1</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="cart_2.html">2</a>
            </li>
            <li class="nav-item">
              <a class="nav-link disabled">3</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="cart">
    <div class="container">
      <div class="cart__row">
        <div class="item item--mobile-small item--row">
          <div class="row align-items-center justify-content-between">
            <div class="col-6 col-md-3">
              <div class="item__image text-center text-md-left">
                <img src="images/item_4.png" alt="item">
              </div>
            </div>
            <div class="col-6 col-md-2">
              <div class="item__header">
                <div class="item__title">百香果口味</div>
                <div class="item__subtitle">清新自然</div>
              </div>
            </div>
            <div class="col-12 col-md-2 text-center text-md-left">
              <div class="btn btn-bordered btn_counter">
                  <span>
                    <button class="btn btn-icon btn_counter__minus" type="button">-</button>
                    <span class="btn_counter__value">1</span>
                    <button class="btn btn-icon btn_counter__plus" type="button">+</button>
                  </span>
              </div>
            </div>
            <div class="col-6 col-md-2">
              <div class="item__price item_price">
                <div class="item_price__value">400元</div>
                <div class="item_price__hint">每份总计46.67元</div>
              </div>
            </div>
            <div class="col-sm-2 col-md-1">
              <div class="item__action">
                <button class="btn btn_delete active" type="button">
                  <span class="navbar-toggler-icon"></span>
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="item item--mobile-small item--row">
          <div class="row align-items-center justify-content-between">
            <div class="col-6 col-md-3">
              <div class="item__image text-center text-md-left">
                <img src="images/item_2.png" alt="item">
              </div>
            </div>
            <div class="col-6 col-md-2">
              <div class="item__header">
                <div class="item__title">2份能量</div>
              </div>
            </div>
            <div class="col-12 col-md-2">

            </div>
            <div class="col-6 col-md-2">
              <div class="item__price item_price">
                <div class="item_price__value">免費</div>
              </div>
            </div>
            <div class="col-sm-2 col-md-1">
              <div class="item__action">
                <i class="icon icon--gift"></i>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="cart__promo">
        <div class="row justify-content-between align-items-center">
          <div class="col-6">促銷代碼</div>
          <div class="col-6 text-right">- 30%</div>
        </div>
      </div>

      <div class="cart__total">
        <div class="row justify-content-between ">
          <div class="col-5">總計：</div>
          <div class="col-7 text-md-right">
            1 400元
            <div class="hint">每份总计46.67元</div>
          </div>
        </div>
      </div>
      <div class="cart__footer">
        <div class="row justify-content-between">
          <div class="col-md-7">
            <form class="form_promocode">
              <div class="row">
                <div class="col-sm-6">
                  <div class="form-group">
                    <div class="form-control">
                      <input type="text" placeholder="輸入促銷代碼" class="text-center">
                    </div>
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="form-group">
                    <button class="btn btn-primary" type="button">
                      <span>申請</span>
                    </button>
                  </div>
                </div>
              </div>
            </form>
          </div>
          <div class="col-md-4 text-md-right">
            <div class="form-group">
              <button class="btn btn-primary btn_submit" type="button">
                <span>下訂單</span>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</section>
