<section class="section section_features d-none d-md-block">
  <div class="section_bg d-block d-lg-none" style="background-image: url(images/bg_6.jpg)"></div>
  <div class="section_bg d-none d-lg-block" data-src="images/bg_6.jpg"data-pos-x="center" data-parallax></div>

  <div class="container">
    <div class="row">
      <div class="col-12">
        <h2 class="text-primary">为什么要选竞技活力<span class="cera">IMBA</span>功能饮料</h2>

        <div class="row">
          <div class="col-sm-6">
            <div class="features_block">
              <div class="features_block__image">
                <img src="images/imba.png" alt="imba" width="100">
              </div>
              <div class="features_block__content">
                <h3 class="features_block__title text-green cera">IMBA GAME ENERGY</h3>
                <ul class="features_block__list">
                  <li>一包含15袋 不用频繁外出采购! </li>
                  <li>一包88RMB=一袋低于6RMB</li>
                  <li>不伤害神经元</li>
                  <li>无糖 </li>
                  <li>不引起睡眠问题</li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="features_block">
              <div class="features_block__image">
                <img src="images/blue.png" alt="cocktail" width="50">
              </div>
              <div class="features_block__content">
                <h3 class="features_block__title">另一种功能饮料</h3>
                <ul class="features_block__list">
                  <li>需要经常去商店</li>
                  <li>每罐的平均价格为12¥</li>
                  <li>30罐功能饮料产生1斤垃圾 </li>
                  <li>在饮用后出现高度神经质</li>
                  <li>1.5小时后生产”精疲尽“效果</li>
                </ul>
              </div>
            </div>
          </div>
        </div>

        <div class="section_footer text-center">
          <button class="btn btn-primary" type="button">
            <span>立即订购</span>
          </button>

          <ul class="main_menu nav">
            <li class="nav-item">
              <a href="#" class="nav-link">
                <i class="icon icon--mail"></i>
                <span>联系 IMBA</span>
              </a>
            </li>
            <li class="nav-item">
              <div class="nav-link">
                <span>关注我们</span>
                <a href="#" data-container="body" data-toggle="popover" data-placement="bottom" data-content="<img src='/images/wechat_2.png' width='110px'>" data-html="true">
                  <i class="icon icon--wechat"></i>
                </a>
                <i class="dotted-divider"></i>
                <a href=""><i class="icon icon--sinaweibo"></i></a>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>