<section class="section section_info d-none d-lg-block">
  <div class="section_bg d-none d-lg-block" data-src="images/bg_2.jpg" data-pos-x="center" data-parallax></div>

  <div class="container">
    <div class="row align-items-center">
      <div class="col-sm-9">
        <h2 class="text-primary">
          你想像专业玩家一样玩游戏吗?<br>
          那你所需要:
        </h2>

        <ul class="lead">
          <li>提高反应速度</li>
          <li>培养集中力</li>
          <li>累计经验</li>
          <li>花时间训练</li>
        </ul>
      </div>
    </div>
  </div>
</section>
<section class="section section_info">
  <div class="section_bg d-none d-lg-block" data-src="images/bg_3.jpg"data-pos-x="center" data-parallax></div>

  <div class="_slider_info_bg section_bg_group d-block d-lg-none">
    <div class="section_bg" style="background-image: url(images/bg_3.jpg)"></div>
    <div class="section_bg" style="background-image: url(images/bg_2.jpg)"></div>
    <div class="section_bg" style="background-image: url(images/bg_3.jpg)"></div>
    <div class="section_bg" style="background-image: url(images/bg_3.jpg)"></div>
    <div class="section_bg" style="background-image: url(images/bg_5.jpg)"></div>
  </div>

  <div class="container">
    <div class="row align-items-center justify-content-center justify-content-md-start">
      <div class="col-sm-7">
        <div class="slider slider--mobile _slider_mobile">
          <div class="slider_item">
            <h2>絕對安全</h2>

            <ul class="lead text-green">
              <li>没有副作用</li>
              <li>不含糖</li>
              <li>不引起睡眠问题</li>
            </ul>
          </div>
          <div class="slider_item  d-block d-lg-none">
            <h2 class="text-primary">
              你想像专业玩家一样玩游戏吗?<br>
              那你所需要:
            </h2>

            <ul class="lead">
              <li>提高反应速度</li>
              <li>培养集中力</li>
              <li>累计经验</li>
              <li>花时间训练</li>
            </ul>
          </div>
          <div class="slider_item  d-block d-lg-none">
            <div class="section_inside__item">
              <!--              <div class="section_inside__image">
                              <img src="images/imba.png" alt="imba" width="140px" class="m-auto" style="position: relative;left: -30px;">
                            </div>-->
              <h4 class="text-green cera">IMBA GAME ENERGY</h4>
              <ul class="text-white-50">
                <li>一包含15袋 不用频繁外出采购! </li>
                <li>一包88RMB=一袋低于6RMB</li>
                <li>不伤害神经元</li>
                <li>无糖 </li>
                <li>不引起睡眠问题</li>
              </ul>
            </div>
          </div>
          <div class="slider_item  d-block d-lg-none">
            <div class="section_inside__item">
              <!--              <div class="section_inside__image">
                              <img src="images/blue.png" alt="cocktail" width="80px" class="m-auto">
                            </div>-->
              <h4 class="text-green">另一种功能饮料</h4>
              <ul class="text-white-50">
                <li>需要经常去商店</li>
                <li>每罐的平均价格为12¥</li>
                <li>30罐功能饮料产生1斤垃圾 </li>
                <li>在饮用后出现高度神经质</li>
                <li>1.5小时后生产”精疲尽“效果</li>
              </ul>
            </div>
          </div>
          <div class="slider_item  d-block d-lg-none">
            <div class="section_inside__item">
              <h4 class="text-green">成分安全可靠, 完全无副作用*</h4>
              <p>*根据专家研究结果显示</p>
              <ul class="text-white-50">
                <li>没有肌肉张力过强</li>
                <li>不激发手抖</li>
                <li>不引起低血糖症</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>