<section class="section section_inside">
  <div class="container">
    <div class="section_header">
      <h2 class="text-primary">我们改进了常见的功能饮料成分</h2>
      <h3>在其中加入了:</h3>
    </div>

    <div class="row justify-content-center">
      <div class="col-lg-10">
        <div class="section_inside__slider _slider_inside">
          <div class="section_inside__slide">
            <div class="section_inside__item">
              <div class="section_inside__image">
                <img src="images/avocado.png" alt="avocado" width="225px">
                <img src="images/formula_1.svg" alt="" class="img_formula" width="105px">
              </div>
              <h4>酪氨酸</h4>
              <ul class="text-white-50">
                <li>提供高度集中的注意力</li>
                <li>缓解紧张和烦躁</li>
              </ul>
            </div>
          </div>
          <div class="section_inside__slide">
            <div class="section_inside__item">
              <div class="section_inside__image">
                <img src="images/tea.png" alt="tea" width="187px">
                <img src="images/formula_2.svg" alt="" class="img_formula" width="108px">
              </div>
              <h4>茶氨酸</h4>
              <ul class="text-white-50">
                <li>提高反应速度和准确度*</li>
                <li>改善记忆功能*</li>
              </ul>
            </div>
          </div>
          <div class="section_inside__slide">
            <div class="section_inside__item">
              <div class="section_inside__image">
                <img src="images/omar.png" alt="omar" width="242px">
                <img src="images/formula_3.svg" alt="" class="img_formula" width="76px">
              </div>
              <h4>牛磺酸</h4>
              <ul class="text-white-50">
                <li>有助于减少焦虑*</li>
                <li>改善心理表现*</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>