<section class="section section_items">
  <div class="container">
    <div class="section_header">
      <h3 class="text-muted">成功取决于你的判断力和执行力</h3>
      <h2 class="text-primary"><span class="cera">IMBA</span>让你花更少的时间做判断</h2>
    </div>

    <div class="slider slider--items _slider_items">
      <div class="slider_item">
        <div class="row">
          <div class="col-12 col-sm-6">
            <div class="item item--bordered">
              <div class="item__image">
                <img src="images/item_4.png" alt="item">
              </div>
              <div class="item__content">
                <div class="item__header">
                  <div class="item__title">百香果口味</div>
                  <div class="item__subtitle">清新自然</div>
                </div>
                <div class="item__price item_price">
                  <div class="item_price__value">400元</div>
                  <div class="item_price__hint">每份总计46.67元</div>
                  <span class="badge badge--violet">special</span>
                </div>
                <div class="item__rating">
                  <div class="row align-items-center">
                    <div class="col-auto">
                      <span class="emoji">😍</span>
                      good
                    </div>
                    <div class="col-auto">
                      <div class="btn btn-link">
                        <i class="icon icon--like"></i>
                        <span>14</span>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="item__action">
                  <a class="btn btn-primary" data-toggle="modal" data-target="#modal">
                    <span>立即订购</span>
                  </a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-12 col-sm-6">
            <div class="item item--bordered">
              <div class="item__image">
                <img src="images/item_3.png" alt="item">
              </div>
              <div class="item__content">
                <div class="item__header">
                  <div class="item__title">百香果口味</div>
                  <div class="item__subtitle">清新自然</div>
                </div>
                <div class="item__price item_price">
                  <div class="item_price__value">400元</div>
                  <div class="item_price__hint">每份总计46.67元</div>
                  <span class="badge badge--violet">special</span>
                </div>
                <div class="item__rating">
                  <div class="row align-items-center">
                    <div class="col-auto">
                      <span class="emoji">😊️</span>
                      good
                    </div>
                    <div class="col-auto">
                      <div class="btn btn-link">
                        <i class="icon icon--like"></i>
                        <span>14</span>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="item__action">
                  <a class="btn btn-primary" data-toggle="modal" data-target="#modal">
                    <span>立即订购</span>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="slider_item">
        <div class="row">
          <div class="col-6">
            <div class="item item--bordered item--small">
              <div class="item__image">
                <img src="images/item_2.png" alt="item">
              </div>
              <div class="item__header">
                <div class="item__title">百香果口味</div>
                <div class="item__subtitle">清新自然</div>
              </div>
              <div class="item__price item_price">
                <div class="item_price__value">400元</div>
                <div class="item_price__hint">每份总计46.67元</div>
                <span class="badge badge--violet">special</span>
              </div>
              <div class="item__rating">
                <div class="row align-items-center">
                  <div class="col-auto">
                    <span class="emoji">😊️</span>
                    good
                  </div>
                  <div class="col-auto">
                    <a class="btn btn-link">
                      <i class="icon icon--like"></i>
                      <span>14</span>
                    </a>
                  </div>
                </div>
              </div>
              <div class="item__action">
                <a class="btn btn-primary" data-toggle="modal" data-target="#modal">
                  <span>立即订购</span>
                </a>
              </div>
            </div>
          </div>
          <div class="col-6">
            <div class="item item--bordered item--small">
              <div class="item__image">
                <img src="images/item_1.png" alt="item">
              </div>
              <div class="item__header">
                <div class="item__title">百香果口味</div>
                <div class="item__subtitle">清新自然</div>
              </div>
              <div class="item__price item_price">
                <div class="item_price__value">400元</div>
                <div class="item_price__hint">每份总计46.67元</div>
                <span class="badge badge--violet">special</span>
              </div>
              <div class="item__rating">
                <div class="row align-items-center">
                  <div class="col-auto">
                    <span class="emoji">😍</span>
                    good
                  </div>
                  <div class="col-auto">
                    <div class="btn btn-link">
                      <i class="icon icon--like"></i>
                      <span>14</span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="item__action">
                <a class="btn btn-primary" data-toggle="modal" data-target="#modal">
                  <span>立即订购</span>
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-6">
            <div class="item item--bordered item--small">
              <div class="item__image">
                <img src="images/item_4.png" alt="item">
              </div>
              <div class="item__header">
                <div class="item__title">百香果口味</div>
                <div class="item__subtitle">清新自然</div>
              </div>
              <div class="item__price item_price">
                <div class="item_price__value">400元</div>
                <div class="item_price__hint">每份总计46.67元</div>
                <span class="badge badge--blue">best choice</span>
              </div>
              <div class="item__rating">
                <div class="row align-items-center">
                  <div class="col-auto">
                    <span class="emoji">😍</span>
                    good
                  </div>
                  <div class="col-auto">
                    <div class="btn btn-link">
                      <i class="icon icon--like"></i>
                      <span>14</span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="item__action">
                <a class="btn btn-primary" data-toggle="modal" data-target="#modal">
                  <span>立即订购</span>
                </a>
              </div>
            </div>
          </div>
          <div class="col-6">
            <div class="item item--bordered item--small">
              <div class="item__image">
                <img src="images/item_4.png" alt="item">
              </div>
              <div class="item__header">
                <div class="item__title">百香果口味</div>
                <div class="item__subtitle">清新自然</div>
              </div>
              <div class="item__price item_price">
                <div class="item_price__value">400元</div>
                <div class="item_price__hint">每份总计46.67元</div>
              </div>
              <div class="item__rating">
                <div class="row align-items-center">
                  <div class="col-auto">
                    <span class="emoji">😍</span>
                    good
                  </div>
                  <div class="col-auto">
                    <div class="btn btn-link">
                      <i class="icon icon--like"></i>
                      <span>14</span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="item__action">
                <button class="btn btn-primary" data-toggle="modal" data-target="#modal" type="button">
                  <span>立即订购</span>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="slider_item d-none d-md-block">
        <div class="row">

          <div class="col-sm-6">
            <div class="item item--bordered">
              <div class="item__image">
                <img src="images/item_4.png" alt="item">
              </div>
              <div class="item__header">
                <div class="item__title">百香果口味</div>
                <div class="item__subtitle">清新自然</div>
              </div>
              <div class="item__price item_price">
                <div class="item_price__value">400元</div>
                <div class="item_price__hint">每份总计46.67元</div>
                <span class="badge badge--violet">special</span>
              </div>
              <div class="item__rating">
                <div class="row align-items-center">
                  <div class="col-auto">
                    <span class="emoji">😍</span>
                    good
                  </div>
                  <div class="col-auto">
                    <div class="btn btn-link">
                      <i class="icon icon--like"></i>
                      <span>14</span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="item__action">
                <a class="btn btn-primary" data-toggle="modal" data-target="#modal">
                  <span>立即订购</span>
                </a>
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="item item--bordered">
              <div class="item__image">
                <img src="images/item_3.png" alt="item">
              </div>
              <div class="item__header">
                <div class="item__title">百香果口味</div>
                <div class="item__subtitle">清新自然</div>
              </div>
              <div class="item__price item_price">
                <div class="item_price__value">400元</div>
                <div class="item_price__hint">每份总计46.67元</div>
                <span class="badge badge--violet">special</span>
              </div>
              <div class="item__rating">
                <div class="row align-items-center">
                  <div class="col-auto">
                    <span class="emoji">😊️</span>
                    good
                  </div>
                  <div class="col-auto">
                    <div class="btn btn-link">
                      <i class="icon icon--like"></i>
                      <span>14</span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="item__action">
                <a class="btn btn-primary" data-toggle="modal" data-target="#modal">
                  <span>立即订购</span>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="section_footer text-center">
      <a href="catalog.html" class="btn btn-flat" type="button">
        <span>所有商品</span>
      </a>

      <ul class="main_menu nav">
        <li class="nav-item">
          <a href="#" class="nav-link">
            <i class="icon icon--mail"></i>
            <span>联系 IMBA</span>
          </a>
        </li>
        <li class="nav-item">
          <div class="nav-link">
            <span>关注我们</span>
            <a href="#" data-container="body" data-toggle="popover" data-placement="bottom" data-content="<img src='/images/wechat_2.png' width='110px'>" data-html="true">
              <i class="icon icon--wechat"></i>
            </a>
            <i class="dotted-divider"></i>
            <a href=""><i class="icon icon--sinaweibo"></i></a>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>