<section class="section section_item">
  <div class="container">
    <div class="item item--large">
      <div class="row">
        <div class="col-md-4">
          <div class="item__image">
            <img src="images/item_4.png" alt="item">
          </div>
        </div>
        <div class="col-md-8">
          <div class="item__content">
            <div class="item__header">
              <div class="item__title">百香果口味</div>
              <div class="item__subtitle">清新自然</div>
            </div>
            <div class="item__price item_price">
              <div class="item_price__value">400元</div>
              <div class="item_price__hint">每份总计46.67元</div>
            </div>
            <div class="item__rating">
              <div class="row align-items-center">
                <div class="col-auto">
                  <span class="emoji">😍</span>
                  good
                </div>
                <div class="col-auto">
                  <div class="btn btn-link">
                    <i class="icon icon--like"></i>
                    <span>14</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="item__action">
              <div class="row">
                <div class="col-sm-auto">
                  <div class="btn btn-bordered btn_counter">
                    <span>
                      <button class="btn btn-icon btn_counter__minus" type="button">-</button>
                      <span class="btn_counter__value">1</span>
                      <button class="btn btn-icon btn_counter__plus" type="button">+</button>
                    </span>
                  </div>
                </div>
                <div class="col-sm-5">
                  <a class="btn btn-primary">
                    <span>立即订购</span>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>