<section class="section section_product_info">
  <div class="container">
    <ul class="nav nav-tabs product_nav" id="myTab" role="tablist">
      <li class="nav-item">
        <a class="nav-link active" id="first-tab" data-toggle="tab" href="#first" role="tab" aria-controls="first" aria-selected="true">描述</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="second-tab" data-toggle="tab" href="#second" role="tab" aria-controls="second" aria-selected="false">常問問題</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="third-tab" data-toggle="tab" href="#third" role="tab" aria-controls="third" aria-selected="false">評論 7</a>
      </li>
    </ul>
    <div class="tab-content" id="myTabContent">
      <div class="tab-pane fade show active" id="first" role="tabpanel" aria-labelledby="first-tab">
        <div class="section_header">
          <h2 class="text-primary">混合口味</h2>
          <h3>柑橘混合物 - 橙子，檸檬和酸橙的明亮和濃郁的味道，刷新，提供活力和快速反應。</h3>
        </div>

        <div class="row">
          <div class="col-md-11">
            <h2 class="text-primary"><span class="cera">IMBA GAME ENERGY</span>正確選擇與維生素複合物配合使用的成分：</h2>
          </div>
        </div>


        <div class="section_inside__slider _slider_product_info">
          <div class="section_inside__slide">
            <div class="section_inside__item">
              <div class="section_inside__image">
                <img src="images/avocado.png" alt="avocado" width="225px">
                <img src="images/formula_1.svg" alt="" class="img_formula" width="105px">
              </div>
              <h4>酪氨酸</h4>
              <ul class="text-white-50">
                <li>提供高度集中的注意力</li>
                <li>缓解紧张和烦躁</li>
              </ul>
            </div>
          </div>
          <div class="section_inside__slide">
            <div class="section_inside__item">
              <div class="section_inside__image">
                <img src="images/tea.png" alt="tea" width="187px">
                <img src="images/formula_2.svg" alt="" class="img_formula" width="108px">
              </div>
              <h4>茶氨酸</h4>
              <ul class="text-white-50">
                <li>提高反应速度和准确度*</li>
                <li>改善记忆功能*</li>
              </ul>
            </div>
          </div>
          <div class="section_inside__slide">
            <div class="section_inside__item">
              <div class="section_inside__image">
                <img src="images/omar.png" alt="omar" width="242px">
                <img src="images/formula_3.svg" alt="" class="img_formula" width="76px">
              </div>
              <h4>牛磺酸</h4>
              <ul class="text-white-50">
                <li>有助于减少焦虑*</li>
                <li>改善心理表现*</li>
              </ul>
            </div>
          </div>
          <div class="section_inside__slide">
            <div class="section_inside__item">
              <div class="section_inside__image">
                <img src="images/imba.png" alt="omar" width="140px">
              </div>
              <h4>光明</h4>
              <ul class="text-white-50">
                <li>味道濃郁*</li>
              </ul>
            </div>
          </div>
        </div>

        <div class="section_inside__slider _slider_product_info">
          <div class="section_inside__slide">
            <div class="section_inside__item">
              <div class="section_inside__icon">
                <div class="vitamin_icon vitamin_icon--orange">С</div>
              </div>
              <h4>維生素C.</h4>
              <ul class="text-white-50">
                <li>它賦予活力，並且還影響血液中鐵的吸收，鐵的適當吸收直接影響B族維生素的代謝;</li>
              </ul>
            </div>
          </div>
          <div class="section_inside__slide">
            <div class="section_inside__item">
              <div class="section_inside__icon">
                <div class="vitamin_icon vitamin_icon--yellow">B3</div>
              </div>
              <h4>維生素В3.</h4>
              <ul class="text-white-50">
                <li>它賦予活力，並且還影響血液中鐵的吸收，鐵的適當吸收直接影響B族維生素的代謝;</li>
              </ul>
            </div>
          </div>
          <div class="section_inside__slide">
            <div class="section_inside__item">
              <div class="section_inside__icon">
                <div class="vitamin_icon vitamin_icon--blue">B6</div>
              </div>
              <h4>維生素В6.</h4>
              <ul class="text-white-50">
                <li>它賦予活力，並且還影響血液中鐵的吸收，鐵的適當吸收直接影響B族維生素的代謝;</li>
              </ul>
            </div>
          </div>
          <div class="section_inside__slide">
            <div class="section_inside__item">
              <div class="section_inside__icon">
                <div class="vitamin_icon vitamin_icon--green">B12</div>
              </div>
              <h4>維生素В12.</h4>
              <ul class="text-white-50">
                <li>它賦予活力，並且還影響血液中鐵的吸收，鐵的適當吸收直接影響B族維生素的代謝;</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="tab-pane fade" id="second" role="tabpanel" aria-labelledby="second-tab">
        1
      </div>
      <div class="tab-pane fade" id="third" role="tabpanel" aria-labelledby="third-tab">
        2
      </div>
    </div>
  </div>
</section>