<section class="section section_items section_items--catalog">
  <div class="container">
    <div class="section_header">
      <div class="row justify-content-md-between align-items-center">
        <div class="col-md-6">
          <h2 class="text-primary">產品目錄</h2>
        </div>
        <div class="col-md-6 text-md-right">
         <div class="form form_sort">
           <label for="sort" class="control-label">排序方式：</label>
           <select name="sort" id="sort" class="selectpicker">
             <option value="1">默認情況下</option>
             <option value="1">默認情況下2</option>
             <option value="1">默認情況下3</option>
           </select>
         </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-6 col-md-4 col-xl-3">
        <div class="item item--bordered item--mobile-small">
          <div class="item__image">
            <img src="images/item_4.png" alt="item">
          </div>
          <div class="item__header">
            <div class="item__title">百香果口味</div>
            <div class="item__subtitle">清新自然</div>
          </div>
          <div class="item__price item_price">
            <div class="item_price__value">400元</div>
            <div class="item_price__hint">每份总计46.67元</div>
            <span class="badge badge--violet">special</span>
          </div>
          <div class="item__rating">
            <div class="row align-items-center">
              <div class="col-auto">
                <span class="emoji">😍</span>
                good
              </div>
              <div class="col-auto">
                <div class="btn btn-link">
                  <i class="icon icon--like"></i>
                  <span>14</span>
                </div>
              </div>
            </div>
          </div>
          <div class="item__action">
            <a class="btn btn-primary" data-toggle="modal" data-target="#modal">
              <span>立即订购</span>
            </a>
          </div>
        </div>
      </div>
      <div class="col-6 col-md-4 col-xl-3">
        <div class="item item--bordered item--mobile-small">
          <div class="item__image">
            <img src="images/item_3.png" alt="item">
          </div>
          <div class="item__header">
            <div class="item__title">百香果口味</div>
            <div class="item__subtitle">清新自然</div>
          </div>
          <div class="item__price item_price">
            <div class="item_price__value">400元</div>
            <div class="item_price__hint">每份总计46.67元</div>
            <span class="badge badge--violet">special</span>
          </div>
          <div class="item__rating">
            <div class="row align-items-center">
              <div class="col-auto">
                <span class="emoji">😊️</span>
                good
              </div>
              <div class="col-auto">
                <div class="btn btn-link">
                  <i class="icon icon--like"></i>
                  <span>14</span>
                </div>
              </div>
            </div>
          </div>
          <div class="item__action">
            <a class="btn btn-primary" data-toggle="modal" data-target="#modal">
              <span>立即订购</span>
            </a>
          </div>
        </div>
      </div>
      <div class="col-6 col-md-4 col-xl-3">
        <div class="item item--bordered item--mobile-small">
          <div class="item__image">
            <img src="images/item_4.png" alt="item">
          </div>
          <div class="item__header">
            <div class="item__title">百香果口味</div>
            <div class="item__subtitle">清新自然</div>
          </div>
          <div class="item__price item_price">
            <div class="item_price__value">400元</div>
            <div class="item_price__hint">每份总计46.67元</div>
            <span class="badge badge--violet">special</span>
          </div>
          <div class="item__rating">
            <div class="row align-items-center">
              <div class="col-auto">
                <span class="emoji">😍</span>
                good
              </div>
              <div class="col-auto">
                <div class="btn btn-link">
                  <i class="icon icon--like"></i>
                  <span>14</span>
                </div>
              </div>
            </div>
          </div>
          <div class="item__action">
            <a class="btn btn-primary" data-toggle="modal" data-target="#modal">
              <span>立即订购</span>
            </a>
          </div>
        </div>
      </div>
      <div class="col-6 col-md-4 col-xl-3">
        <div class="item item--bordered item--mobile-small">
          <div class="item__image">
            <img src="images/item_3.png" alt="item">
          </div>
          <div class="item__header">
            <div class="item__title">百香果口味</div>
            <div class="item__subtitle">清新自然</div>
          </div>
          <div class="item__price item_price">
            <div class="item_price__value">400元</div>
            <div class="item_price__hint">每份总计46.67元</div>
            <span class="badge badge--violet">special</span>
          </div>
          <div class="item__rating">
            <div class="row align-items-center">
              <div class="col-auto">
                <span class="emoji">😊️</span>
                good
              </div>
              <div class="col-auto">
                <div class="btn btn-link">
                  <i class="icon icon--like"></i>
                  <span>14</span>
                </div>
              </div>
            </div>
          </div>
          <div class="item__action">
            <a class="btn btn-primary" data-toggle="modal" data-target="#modal">
              <span>立即订购</span>
            </a>
          </div>
        </div>
      </div>
      <div class="col-6 col-md-4 col-xl-3">
        <div class="item item--bordered item--mobile-small">
          <div class="item__image">
            <img src="images/item_4.png" alt="item">
          </div>
          <div class="item__header">
            <div class="item__title">百香果口味</div>
            <div class="item__subtitle">清新自然</div>
          </div>
          <div class="item__price item_price">
            <div class="item_price__value">400元</div>
            <div class="item_price__hint">每份总计46.67元</div>
            <span class="badge badge--violet">special</span>
          </div>
          <div class="item__rating">
            <div class="row align-items-center">
              <div class="col-auto">
                <span class="emoji">😍</span>
                good
              </div>
              <div class="col-auto">
                <div class="btn btn-link">
                  <i class="icon icon--like"></i>
                  <span>14</span>
                </div>
              </div>
            </div>
          </div>
          <div class="item__action">
            <a class="btn btn-primary" data-toggle="modal" data-target="#modal">
              <span>立即订购</span>
            </a>
          </div>
        </div>
      </div>
      <div class="col-6 col-md-4 col-xl-3">
        <div class="item item--bordered item--mobile-small">
          <div class="item__image">
            <img src="images/item_3.png" alt="item">
          </div>
          <div class="item__header">
            <div class="item__title">百香果口味</div>
            <div class="item__subtitle">清新自然</div>
          </div>
          <div class="item__price item_price">
            <div class="item_price__value">400元</div>
            <div class="item_price__hint">每份总计46.67元</div>
            <span class="badge badge--violet">special</span>
          </div>
          <div class="item__rating">
            <div class="row align-items-center">
              <div class="col-auto">
                <span class="emoji">😊️</span>
                good
              </div>
              <div class="col-auto">
                <div class="btn btn-link">
                  <i class="icon icon--like"></i>
                  <span>14</span>
                </div>
              </div>
            </div>
          </div>
          <div class="item__action">
            <a class="btn btn-primary" data-toggle="modal" data-target="#modal">
              <span>立即订购</span>
            </a>
          </div>
        </div>
      </div>
      <div class="col-6 col-md-4 col-xl-3">
        <div class="item item--bordered item--mobile-small">
          <div class="item__image">
            <img src="images/item_4.png" alt="item">
          </div>
          <div class="item__header">
            <div class="item__title">百香果口味</div>
            <div class="item__subtitle">清新自然</div>
          </div>
          <div class="item__price item_price">
            <div class="item_price__value">400元</div>
            <div class="item_price__hint">每份总计46.67元</div>
            <span class="badge badge--violet">special</span>
          </div>
          <div class="item__rating">
            <div class="row align-items-center">
              <div class="col-auto">
                <span class="emoji">😍</span>
                good
              </div>
              <div class="col-auto">
                <div class="btn btn-link">
                  <i class="icon icon--like"></i>
                  <span>14</span>
                </div>
              </div>
            </div>
          </div>
          <div class="item__action">
            <a class="btn btn-primary" data-toggle="modal" data-target="#modal">
              <span>立即订购</span>
            </a>
          </div>
        </div>
      </div>
      <div class="col-6 col-md-4 col-xl-3">
        <div class="item item--bordered item--mobile-small">
          <div class="item__image">
            <img src="images/item_3.png" alt="item">
          </div>
          <div class="item__header">
            <div class="item__title">百香果口味</div>
            <div class="item__subtitle">清新自然</div>
          </div>
          <div class="item__price item_price">
            <div class="item_price__value">400元</div>
            <div class="item_price__hint">每份总计46.67元</div>
            <span class="badge badge--violet">special</span>
          </div>
          <div class="item__rating">
            <div class="row align-items-center">
              <div class="col-auto">
                <span class="emoji">😊️</span>
                good
              </div>
              <div class="col-auto">
                <div class="btn btn-link">
                  <i class="icon icon--like"></i>
                  <span>14</span>
                </div>
              </div>
            </div>
          </div>
          <div class="item__action">
            <a class="btn btn-primary" data-toggle="modal" data-target="#modal">
              <span>立即订购</span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>