<section class="section section_main">
  <div class="section_bg d-block d-lg-none" style="background-image: url(images/bg_1.jpg)"></div>
  <div class="section_bg d-none d-lg-block" data-src="images/bg_1.jpg" data-pos-x="center" data-parallax></div>
  <div class="container">
    <div class="row align-items-center">
      <div class="col-sm-9">
        <h2 class="text-primary">
          针对游戏玩家的速溶饮料冲剂<br/>
          当玩游戏你需要：
        </h2>

        <ul class="lead">
          <li>精神高度集中</li>
          <li>反应快速</li>
          <li>心绪镇定</li>
          <li>那选择 <span class="cera">IMBA</span>!</li>
        </ul>

        <div class="text-center text-sm-left">
          <a href="#" class="btn btn-primary">
            <span>立即订购</span>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>