<div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title">項目已添加到購物車</h2>
        <h3>商品已成功添加到您的購物車</h3>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-group text-center">
          <button type="button" class="btn btn-primary" data-dismiss="modal">
            <span>到籃子裡</span>
          </button>
        </div>
        <div class="text-center">
          <button type="button" class="btn btn-bordered" data-dismiss="modal">
            <span>繼續購物</span>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>