<section class="section section_reviews">
  <div class="_slider_reviews_bg section_bg_group">
    <div class="section_bg" style="background-image: url(images/1.png)"></div>
    <div class="section_bg" style="background-image: url(images/bg_4.jpg)"></div>
    <div class="section_bg" style="background-image: url(images/2.png)"></div>
    <!--<div class="section_bg" data-src="images/bg_4.jpg"data-pos-x="center" data-parallax></div>-->
  </div>
  <div class="container">
    <div class="row align-items-center">
      <div class="col-sm-12">

        <div class="slider slider--reviews _slider_reviews_items">
          <div class="slider_item">
            <div class="row">
              <div class="col-8 xol-sm-6 col-lg-4">
                <h2 class="text-primary">游戏玩家评论</h2>
                <div class="slider_item__text">
                  <p>
                    在游戏竞技时，我需要长时间保持专注和精力旺盛，所以IMBA竞技活力能量饮料对我帮助很大，喝完之后我觉得精力充沛，注意力集中，反映迅捷，游戏内局势的瞬息万变都可以从容掌控。
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="slider_item">
            <div class="row">
              <div class="col-8 xol-sm-6 col-lg-4">
                <h2 class="text-primary">游戏玩家评论</h2>
                <div class="slider_item__text">
                  <p>
                    在游戏竞技时，我需要长时间保持专注和精力旺盛，所以IMBA竞技活力能量饮料对我帮助很大，喝完之后我觉得精力充沛，注意力集中，反映迅捷，游戏内局势的瞬息万变都可以从容掌控。在每一局游戏之后，我都可以自豪得和队友说：我使出了全力！
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="slider_item">
            <div class="row">
              <div class="col-8 xol-sm-6 col-lg-4">
                <h2 class="text-primary">游戏玩家评论</h2>
                <div class="slider_item__text">
                  <p>
                    在游戏竞技时，我需要长时间保持专注和精力旺盛，所以IMBA竞技活力能量饮料对我帮助很大，喝完之后我觉得精力充沛，注意力集中，反映迅捷，游戏内局势的瞬息万变都可以从容掌控。
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>