<section class="section section_stats">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-12">
        <div class="section_header">
          <h2 class="h1"><span class="cera">IMBA</span> 不含糖</h2>
          <h3 class="text-green">饮料糖度</h3>
        </div>

        <div class="row align-items-center justify-content-between animation">
          <div class="col-md-5 offset-md-1">
            <div class="stat_container">
              <div class="row small-row align-items-end">
                <div class="col-3 small-col">
                  <div class="stat stat--0">
                    <div class="stat__bar stat_bar stat_bar--green">
                      <div class="stat_bar__image">
                        <img src="images/imba.png" alt="imba" width="100px">
                      </div>
                      <span class="stat_bar__value">0克</span>
                    </div>
                    <div class="stat__title cera">IMBA</div>
                  </div>
                </div>
                <div class="col-3 small-col">
                  <div class="stat stat--1">
                    <div class="stat__bar stat_bar">
                      <div class="stat_bar__image">
                        <img src="images/long.png" alt="long" width="44px">
                      </div>
                      <span class="stat_bar__value">9克</span>
                    </div>
                    <div class="stat__title">汽水</div>
                  </div>
                </div>
                <div class="col-3 small-col">
                  <div class="stat stat--2">
                    <div class="stat__bar stat_bar">
                      <div class="stat_bar__image">
                        <img src="images/mango-shake.png" alt="" width="50px">
                      </div>
                      <span class="stat_bar__value">9克</span>
                    </div>
                    <div class="stat__title">果汁</div>
                  </div>
                </div>
                <div class="col-3 small-col">
                  <div class="stat stat--3">
                    <div class="stat__bar stat_bar">
                      <div class="stat_bar__image">
                        <img src="images/blue.png" alt="" width="55px">
                      </div>
                      <span class="stat_bar__value">12克</span>
                    </div>
                    <div class="stat__title">功能饮料</div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-5">
            <h3>糖量 在100克的飲料</h3>
            <div class="label_accent"><span class="cera">IMBA</span>不含糖！</div>
            <ul>
              <li>汽水 – 9克</li>
              <li>果汁 – 9克</li>
              <li>功能饮料 – 12克</li>
            </ul>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>