<footer class="footer">
  <div class="container">
    <div class="row align-items-center justify-content-between">
      <div class="col-md-3 col-lg-4 col-xl-5">
        <a href="" class="logo">
          <img src="/images/logo_green.png" alt="logo" width="130">
        </a>
      </div>
      <div class="col-md-9 col-lg-8 col-xl-7">
        <div class="row align-items-center justify-content-between">
          <div class="col-12 col-md-6 col-xl-5">
            <div class="qr_codes">
              <div class="row small-row">
                <div class="col-6 small-col">
                  <img src="/images/wechat.jpg" alt="" width="110">
                </div>
                <div class="col-6 small-col">
                  <img src="/images/weibo.jpg" alt="" width="110">
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <h3>联系我们</h3>
            <p>订单咨询热线：18924038852</p>
            <p>工作时间：09.00 - 22.00</p>
            <p>客服邮件：<a href="">info@imbapower.com</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>

<a href="#" class="scrolltop_btn">
  <i class="icon icon--arrow-left"></i>
</a>