<head>
  <meta charSet="UTF-8"/>
  <title>imba</title>

  <meta http-equiv="X-UA-Compatible" content="chrome=1"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no"/>

  <link rel="shortcut icon" href="favicon.ico"/>
  <link rel="apple-touch-icon" sizes="180x180" href="apple-touch-icon.png"/>
  <link rel="icon" type="image/png" sizes="32x32" href="favicon-32x32.png"/>
  <link rel="icon" type="image/png" sizes="16x16" href="favicon-16x16.png"/>
  <link rel="icon" type="image/png" sizes="192x192" href="android-chrome-192x192.png"/>
  <link rel="icon" type="image/png" sizes="256x256" href="android-chrome-256x256.png"/>
  <meta name="msapplication-TileColor" content="#2456ec"/>
  <meta name="theme-color" content="#ffffff"/>

  <meta property="og:image:width" content="1200"/>
  <meta property="og:image:height" content="630"/>
  <meta property="og:image" content="./og_image.jpg"/>
  <meta property="og:title" content=""/>
  <meta name="description" content=""/>
  <meta property="og:description" content=""/>

</head>