<header class="header">
  <div class="container">
    <div class="row">
      <div class="col-2 col-sm-4 col-md-auto order-1 order-md-1">
        <a href="/" class="header_logo">
          <img src="/images/logo.png" alt="logo" width="130">
        </a>
      </div>
      <div class="col-8 offset-4 offset-md-0 col-md-auto order-3 order-md-2">
        <ul class="main_menu nav justify-content-end">
          <li class="nav-item">
            <a href="#" class="nav-link">
              <i class="icon icon--mail"></i>
              <span>联系 IMBA</span>
            </a>
          </li>
          <li class="nav-item">
            <div class="nav-link">
              <span>关注我们</span>
              <a href="#" data-container="body" data-toggle="popover" data-placement="bottom" data-content="<img src='/images/wechat_2.png' width='110px'>" data-html="true">
                <i class="icon icon--wechat"></i>
              </a>
              <i class="dotted-divider"></i>
              <a href=""><i class="icon icon--sinaweibo"></i></a>
            </div>
          </li>
        </ul>
      </div>
      <div class="col-8 order-2 order-md-3 col-md-4 col-lg-auto ml-auto">
        <div class="row small-row">
          <div class="small-col col-12 col-lg-auto">
            <div class="header_labels">
              <img src="/images/payment_info.png" alt="payment_info" width="83px">
              <button class="navbar-toggler d-inline-block d-md-none ml-auto btn_menu" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
            </div>
          </div>
          <div class="small-col col-12 col-lg-auto d-none d-md-block">
            <ul class="nav main_menu main_menu--cart justify-content-end">
              <li class="nav-item">
                <a href="catalog.html" class="nav-link">
                  <i class="icon icon--grid"></i>
                  <span>所有商品</span>
                </a>
              </li>
              <li class="nav-item">
                <a href="#" class="nav-link">
                  <i class="icon icon--shopping-cart"></i>
                  <div class="label label--green">0</div>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
<aside class="sidebar">
  <div class="align-items-center row">
    <div class="col">
      <ul class="nav-inverse navbar-nav">
        <li class="nav-item"><a href="#">好处</a></li>
        <li class="nav-item"><a href="#">评测</a></li>
        <li class="nav-item"><a href="#">制品</a></li>
        <li class="nav-item"><a href="#">对照</a></li>
        <li class="nav-item"><a href="#">店</a></li>
        <li class="nav-item"><a href="#">购物车</a></li>
      </ul>
    </div>
  </div>
</aside>