<a href="/" class="btn taobao_btn">
  <div class="taobao_btn__image">
      <img src="images/taobao.svg" alt="taobao" width="70px">
  </div>
  <span class="taobao_btn__circle" style="animation-delay: -1s"></span>
  <span class="taobao_btn__circle" style="animation-delay: -.5s"></span>
  <span class="taobao_btn__circle" style="animation-delay: 0s"></span>
</a>