<!doctype html>
<html lang="en">
<%= require('html-loader?attrs=false!./partials/head.html') %>

<body>
  <%= require('html-loader?attrs=false!./partials/header.html') %>

  <main class="main">
    <%= require('html-loader?attrs=false!./partials/sections/cart_empty.html') %>
  </main>

  <%= require('html-loader?attrs=false!./partials/footer.html') %>
  <%= require('html-loader?attrs=false!./partials/scripts.html') %>
</body>
</html>

