<!doctype html>
<html lang="en">
<%= require('html-loader?attrs=false!./partials/head.html') %>

<body>
  <%= require('html-loader?attrs=false!./partials/header.html') %>

  <main class="main main_catalog">
    <%= require('html-loader?attrs=false!./partials/sections/blank.html') %>
    <%= require('html-loader?attrs=false!./partials/sections/items-catalog.html') %>
  </main>

  <%= require('html-loader?attrs=false!./partials/sections/modal.html') %>

  <%= require('html-loader?attrs=false!./partials/footer.html') %>
  <%= require('html-loader?attrs=false!./partials/scripts.html') %>
</body>
</html>

