<!doctype html>
<html lang="en">
<%= require('html-loader?attrs=false!./partials/head.html') %>

<body>
  <%= require('html-loader?attrs=false!./partials/header.html') %>

  <main class="main">
    <%= require('html-loader?attrs=false!./partials/sections/lead.html') %>
    <%= require('html-loader?attrs=false!./partials/sections/items.html') %>
    <%= require('html-loader?attrs=false!./partials/sections/info.html') %>
    <%= require('html-loader?attrs=false!./partials/sections/reviews.html') %>
    <%= require('html-loader?attrs=false!./partials/sections/stats.html') %>
    <%= require('html-loader?attrs=false!./partials/sections/inside.html') %>
    <%= require('html-loader?attrs=false!./partials/sections/banner.html') %>
    <%= require('html-loader?attrs=false!./partials/sections/features.html') %>
    <%= require('html-loader?attrs=false!./partials/sections/items-row.html') %>
  </main>

  <%= require('html-loader?attrs=false!./partials/sections/modal.html') %>
  <%= require('html-loader?attrs=false!./partials/taobao.html') %>

  <%= require('html-loader?attrs=false!./partials/footer.html') %>
  <%= require('html-loader?attrs=false!./partials/scripts.html') %>
</body>
</html>

